.clientBar{
    position:fixed;
    top:0;
    left:0;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    border: 2px solid var(--purple);
    gap: 20px;
    padding-top: 20px;
    height: 100%;
    width: 100px;
}

.clientBar-icon{
    width: 60px;
    height: 60px;
}