.input {
    font-family: var(--font-family-poppins);
    border-radius: 15px;
    color: var(--white);
    padding: 10px;
    width: 100%;
}

.input, .input::placeholder {
    color: var(--white);
    font-size: var(--font-size-xxxl);
}

.input:focus {
    outline: none;
}

.input-filled {
    background-color: var(--darkGray);
    border: none;
}

.input-unfilled {
    background-color: transparent;
    border: 3px solid var(--white);
}