.input {
    border-radius: 15px;
    color: var(--white);
    padding: 15px;
    width: 100%;
}

.input, .input::placeholder {
    color: var(--white);
    font-size: var(--font-size-l);
}

.input:focus {
    outline: none;
}

.input-filled {
    background-color: var(--black);
    border: none;
}

.input-unfilled {
    background-color: transparent;
    border: 3px solid var(--white);
}