.input-container {
    border-radius: 15px;
    color: var(--white);
    padding: 15px;
    width: 100%;
}

.input-container, .input-container::placeholder {
    color: var(--white);
    font-size: var(--font-size-l);
}

.input-container:focus {
    outline: none;
}

.input-container-filled {
    background-color: var(--black);
    border: none;
}

.input-container-unfilled {
    background-color: transparent;
    border: 3px solid var(--white);
}