.ThreeDModelPopup-popupBox {
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000000ca;
}

.ThreeDModelPopup-container{
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    background-color: var(--lightGreen);
    border: 8px solid var(--pureBlack);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.ThreeDModelPopup-buttons-container{
    align-items: center;
    display: flex;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    justify-content: space-around;
}