.AccountForm {
    background-color: var(--lightGreen);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.AccountForm-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AccountForm-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AccountForm-title {
    text-align: center;
}