@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|Roboto+Condensed:400|Inter:400,700,500");

.contas {
  align-items: flex-start;
  background-color: var(--preto);
  display: flex;
  height: 1024px;
  padding: 20px;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 780px;
  width: 669px;
}

.botao-opcoes {
  align-items: center;
  background-color: var(--laranja);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 78px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  width: 479px;
}

.descripcin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 342px;
}

.registrar-administrador {
  align-self: stretch;
  color: var(--branco);
  flex: 1;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 600;
  height: 58px;
  letter-spacing: 0;
  line-height: 45px;
  text-align: right;
  width: 342px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screenshot_1-1 {
  height: 58px;
  object-fit: cover;
  width: 70px;
}

.reg-admin {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--verde-claro);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
  margin-top: 129px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 570px;
}

.formulario {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 348.4px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
}

.dado {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 15px;
  display: flex;
  gap: 40px;
  height: 51.2px;
}

.email {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 94px;
}

.info-user {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 53px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 376px;
}

.text-2 {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.dado-2 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 15px;
  display: flex;
  gap: 40px;
  min-height: 53px;
}

.text {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.place {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 94px;
}

.text-1 {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.phone {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 94px;
}

.dado-3 {
  align-items: flex-start;
  border-radius: 15px;
  display: flex;
  gap: 12px;
  min-height: 53px;
  width: 500px;
}

.text-3 {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.password {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 113px;
}

.titulo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 114px;
  justify-content: center;
  padding-top: 25px;
  width: 540px;
}

.descripcin-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  margin-bottom: -5.5px;
  margin-top: -5.5px;
}

.registrar-administrador-1 {
  align-self: stretch;
  color: var(--branco);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  text-align: center;
  white-space: nowrap;
  width: 540px;
}

.adicione-informaes {
  align-self: stretch;
  color: var(--branco);
  flex: 1;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 45px;
  letter-spacing: 0;
  line-height: 30px;
  width: 540px;
}

.registrar-1 {
  align-items: center;
  background-color: var(--laranja);
  border-radius: 25px;
  display: flex;
  gap: 10px;
  height: 55px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  width: 177px;
}

.registrar {
  color: var(--branco);
  font-weight: 500;
  height: 27px;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
}

.plus-circle {
  height: 30px;
  width: 30px;
}

.flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 207px;
  min-height: 499px;
  width: 569px;
}

.property-1-variant3 {
  align-items: flex-start;
  background-color: var(--verde-claro);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 470px;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 595px;
}

.produto {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 274px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  width: 559px;
}

.dado-4 {
  align-items: flex-start;
  border-radius: 15px;
  display: flex;
  gap: 25px;
  min-height: 53px;
  width: 478px;
}

.info-user-2 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 53px;
  margin-right: -30px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 376px;
}

.current-phone {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.phone-1 {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 124px;
}

.dado-1 {
  align-items: flex-start;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  min-height: 53px;
  width: 478px;
}

.place-1 {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 104px;
}

.info-user-1 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 53px;
  margin-right: -32px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 376px;
}

.current-name {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.email-1 {
  height: 53px;
  letter-spacing: 0;
  line-height: 30px;
  width: 104px;
}

.current-email {
  color: var(--branco);
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  width: 324px;
}

.botoes {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  height: 106px;
  justify-content: center;
  padding-left: 25px;
  padding-top: 25px;
  width: 563px;
}

.registrar-3 {
  align-items: center;
  background-color: #ff4949;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  height: 58px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  width: 228px;
}

.registrar-2 {
  align-items: center;
  background-color: var(--laranja);
  border-radius: 25px;
  display: flex;
  gap: 10px;
  height: 58px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  width: 228px;
}

.plus-circle-1 {
  height: 30px;
  width: 30px;
}

.buscar {
  align-items: center;
  background-color: var(--preto);
  border: 2px solid var(--mine-shaft);
  border-radius: 50px;
  display: flex;
  gap: 20px;
  height: 62px;
  margin-right: 2px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  width: 505px;
}

.buscar-1 {
  color: #46444b;
  font-weight: 500;
  height: 27px;
  line-height: 27px;
  white-space: nowrap;
}

.search {
  height: 30px;
  width: 30px;
}

.contasscreen{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 200px;
  height: 100%;
}
