.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    height: 100%;

    padding: 30px;
}

.login-form-forms {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}

.login-form-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}


.login-form-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}