.ViewClients-page-container {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    height: 100%;
    
    min-width: 500px;
    min-height: 600px;
    margin-left: 230px;
}