.OrderDetails {
    flex: 1;
    display: flex;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1.875em 4.375em 1.875em 4.375em;
    margin-right: 10px;
}



.row-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.order-details-form-card{
    margin-bottom: auto;
}


button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 50%;
}
