.form-input-container{
    align-items: center;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}

.form-input-container-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}