.adminBar{
    position:absolute;
    top:0;
    left:0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #28272b;
    border: 2px solid #7361c9;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    min-height: 850px;
    width: 230px;
    font-family: var(--font-family-poppins);
}

.AdminBar-title {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
}

.AdminBar-subtitle {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    color: var(--orange);
    font-weight: 700;
    font-style: normal;
}


.line{
    width: 200px;
}