.adminBar{
    position:fixed;
    top:0;
    left:0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    border: 2px solid var(--purple);
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 230px;
}

.line{
    width: 200px;
    height: 6px;
    align-self: center;
}