.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 12px;
    border-radius: 20px;

    border: none;

    cursor: pointer;

    width: fit-content;
}

.button-adminBar {
    align-items: center;
    align-self: stretch;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    color: var(--white);
    border: none;
}